<p><a href="#" class="btn btn-large">Large Button</a></p>
<p><a href="#" class="btn btn-med">Medium Button</a></p>
<p><a href="#" class="btn">Small Button</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>