
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
	<script src="../../js/nilla.js"></script>
	<script>
		var toggle = document.getElementById('toggle'),
			nav = document.getElementById('nav');

		toggle.addEventListener('click', function() {
			if (nilla.hasClass(toggle, 'close')) {
				nilla.removeClass(toggle, 'close');
				nilla.removeClass(nav, 'active');
			} else {
				nilla.addClass(toggle, 'close');
				nilla.addClass(nav, 'active');
			}
			return false;
		});
	</script>
	</body>
</html>