<div class="page" id="page">
	{{> organisms-header }}
	{{> molecules-story-image-credits }}
	<div role="main">
		<div class="lc">

			<article class="article">
				<header class="article-header">
					<h1>You Should Do That</h1>
					<h2 class="subheading">A story of a tiny nudge into greatness.</h2>
					{{> molecules-byline-author-only }}
				</header>

				<div class="entry-content">

					<p>Margot Bloomstein and I have been in the mutual respect game since we first met at SXSW in 2009. Back then I was the User Experience Director at Happy Cog, and Margot approached me to discuss any contracting opportunities we might have for a content strategist. Since then, we’ve been fortunate enough to share meals and the speaking stage at a number of fantastic web design conferences all over the world, including exotic locations such as Pittsburgh, PA.</p>

					<p>Margot and I had just finished speaking at Web Design Day in 2011 and we were on a short, scenic walk back to our hotel. We started our walk on the beautifully reinvigorated north side of Pittsburgh, repleat with new stadiums, and beautiful riverfront walk ways, made our way across the bridge on 6th street, and went a block into the downtown area. While we were crossing the bridge, the topic of “what's next for you” came up. The conversation went something like this. 
					</p>

					<p>“Margot, I enjoyed your talk. The collaborative brand architecture stuff is interesting. You should write a book about that—there’s plenty of room in the content strategy space right now for a book and no one else is looking at it from the branding angle.” 
					</p>

					<p>“Thanks! Really, you think I should write a book? I've never written a book before.”</p>

					{{> atoms-unordered }} 

					{{> atoms-ordered }}

					<p>Donec posuere fringilla nunc, vitae venenatis diam scelerisque vel. Nullam vitae mauris magna. Mauris et diam quis justo volutpat tincidunt congue nec magna. Curabitur vitae orci elit. Ut mollis massa id magna vestibulum consequat. Proin rutrum lectus justo, sit amet tincidunt est. Vivamus vitae lacinia risus.
					</p>
					{{> molecules-pullquote }}

					<p>Donec venenatis imperdiet tortor, vitae blandit odio interdum ut. Integer orci metus, lobortis id lacinia eget, rutrum vitae justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In pretium fermentum justo nec pharetra. Maecenas eget dapibus justo. Ut quis est risus. Nullam et eros at odio commodo venenatis quis et augue. Sed sed augue at tortor porttitor hendrerit nec ut nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sollicitudin enim consectetur mi commodo quis cursus ante pretium. Nunc gravida cursus nisi in gravida. Suspendisse eget tortor sed urna consequat tincidunt. Etiam eget convallis lectus. Suspendisse cursus rutrum massa ac faucibus.
					</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>
				</div>
			</article><!--end .article-->

		</div><!--end lc-->	
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>