<div class="page" id="page">
	{{> organisms-header }}
	{{> molecules-story-image-credits }}
	<div role="main">
		<div class="lc">

			<article class="article">
				<header class="article-header">
					<h1>You Should Do That</h1>
					<h2 class="subheading">A story of a tiny nudge into greatness.</h2>
					{{> molecules-byline-author-only }}
				</header>

				<div class="entry-content">

					<p>Margot Bloomstein and I have been in the mutual respect game since we first met at SXSW in 2009. Back then I was the User Experience Director at Happy Cog, and Margot approached me to discuss any contracting opportunities we might have for a content strategist. Since then, we’ve been fortunate enough to share meals and the speaking stage at a number of fantastic web design conferences all over the world, including exotic locations such as Pittsburgh, PA.</p>

					<p>Margot and I had just finished speaking at Web Design Day in 2011 and we were on a short, scenic walk back to our hotel. <span class="pullquote-right" data-pullquote="We started our walk on the beautifully reinvigorated north side of Pittsburgh, repleat with new stadiums, and beautiful riverfront walk ways">We started our walk on the beautifully reinvigorated north side of Pittsburgh, repleat with new stadiums, and beautiful riverfront walk ways</span>, made our way across the bridge on 6th street, and went a block into the downtown area. While we were crossing the bridge, the topic of “what's next for you” came up. The conversation went something like this. 
					</p>

					<p>“Margot, I enjoyed your talk. The collaborative brand architecture stuff is interesting. You should write a book about that—there’s plenty of room in the content strategy space right now for a book and no one else is looking at it from the branding angle.” 
					</p>

					<p>“Thanks! Really, you think I should write a book? I've never written a book before.”</p>

					<p>“Neither have I. But you should do it anyway.”</p>

					<p>Shortly thereafter, Margot wrote the book Content Strategy at Work. I know for a fact that she wrote this book because she does fantastic work, has lots of really cool insights, and is eager to share ideas that will make life easier. I also know for a fact that my teeny little suggestion probably had very little, if anything, to do with her writing that book, a book that was already hidden inside her brain.</p>

					<p>However, sometimes all it takes is the tiniest nudge to get people into a positive headspace that enables them to make great things. It's easy to come up with reasons not to something. Sure, there are other books out there. Sure, writing a book is hard. But I like being the person that says “you seem pretty smart to me, you should just do that thing that you’ve never done before.” Every once in awhile I’m fortunate enough to have a colleague just believe in me, no questions asks, no analysis required, and say “you can do that, I know you can.”</p>
					<p>Not everyone will write a book, make a movie, or be successful at that thing they are considering doing that they've never done before. But if enough people jump off those cliffs, the things we make are going to be better for it. Hopefully I'll get the opportunity to nudge a few more people into awesome.</p>

				</div>
			</article><!--end .article-->

		</div><!--end lc-->	
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>