<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<p class="intro"><strong>Make, Collaborate, &amp; Celebrate.</strong></p>
		<p class="beta align-center">There's plenty of fantastic design agencies out there. Everyone in this network has worked for one of them. <strong>But this isn't one of those.</strong></p>
		<p>We make websites, applications, strategies, that help people solve problems.</p>
		<p>We collaborate because no matter how talented he or she may be, no single individual will ever build something cooler than a great team.</p>
		<p>We celebrate the idea of unexpected design insights that within constraints.</p>
		<h2 class="alpha">A connected what now?</h2>
		<p>Seven Heads Design is a distributed network of independent friends. We live all over the world, so we are used to working remotely but love getting together whenever work and play permit.  Seven Heads is a connected company, which is to say a company based on the crazy idea that when brilliant people have autonomy they crank out their best work, but when those same people collaborate in teams they truly innovate. We are an organic network, forming, growing, and dissipating as needed.</p>
		<p class="beta align-center">Interested in becoming a member of the network?</p>
		<p class="align-center"><a href="#" class="btn btn-large">Drop us a line</a></p>
	</div>
	{{> organisms-footer }}
</div>