<form action="{{ url }}" method="post" class="para-form">  
<p>Hello. How's it going <label class="is-vishidden" for="name">Your name</label>
        <input class="inline" id="name" type="text" placeholder="Your Name">? I know things have never been more exciting then they are now at <label class="is-vishidden" for="company">Your company</label>
        <input class="inline" id="company" type="text" placeholder="Your Company">. You know I'm really happy to see you stopped by to tell us about <label class="is-vishidden" for="reason">Your reason for contacting</label> <select class="inline">
        	<option selected disabled value="">Your reason for contacting</option>
        	<option value="Kevin is Awesome!">Kevin is Awesome!</option>
        </select>.</p>

        <input type="submit" class="btn btn-large" value="Send" />
</form>