<div class="page" id="page">
	{{> organisms-header }}

	<div role="main">
		<p class="intro">A network of <strong>highly experienced</strong> digital design thinkers who operate independently, but <strong>love working together.</strong>
		{{> molecules-block-hero }}
		<div class="g g-3up">
			<div class="gi">
				{{> molecules-inset-block }}
			</div>
			<div class="gi">
				{{> molecules-inset-block }}
			</div>
			<div class="gi">
				{{> molecules-inset-block }}
			</div>
		</div><!--end 3up-->

		<hr />

		<div class="l-two-col">
			<div class="l-main">
				{{> organisms-latest-posts }}
			</div>

			<div class="l-sidebar">
				{{> organisms-recent-tweets }}
			</div>
		</div>
		
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>