<div class="page" id="page">
	{{> organisms-header }}

	<div role="main">
		<div class="lc">
			<p class="intro">A network of <strong>highly experienced</strong> digital design thinkers who operate independently, but <strong>love working together.</strong></p>
		</div>
		{{> molecules-block-hero }}
		
		
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>