<div class="page" id="page">
	{{> organisms-header }}
	{{> molecules-story-image-credits }}
	<div role="main">
		<div class="lc">
			<article class="article">
				<header class="article-header">
					<h1>Article Headline Lorem ipsum dolor sit aweofij</h1>
					<h2 class="subheading">Aritlce SubHead</h2>
					{{> molecules-byline-author-time }}
				</header>

				{{> organisms-article-body }}
			</article><!--end .article-->

		</div><!--end lc-->	
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>