<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<p class="intro">Seven Heads Design is <strong>not a design agency.</strong> Not one of these people is an employee.</p>
		<p class="align-center">In fact, they don't work for anyone but themselves. Each individual operates as a highly sought after independent consultant, but we have so much darn fun working together that we build dream teams whenever and wherever there is a need for our services.</p>
		<div class="g g-3up flush staggered">
			<div class="gi">
				{{> molecules-people-block }}
				{{> molecules-people-block }}

			</div>
			<div class="gi">
				{{> molecules-people-block }}
				{{> molecules-people-block }}
				{{> molecules-people-block }}

			</div>
			<div class="gi">
				{{> molecules-people-block }}
				{{> molecules-people-block }}

			</div>
		</div>
		<p class="align-center">Interested in becoming a member of the network?</p>
		<p class="align-center"><a href="#" class="btn btn-large">Drop us a line</a></p>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>