/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	padding-bottom: $space-half;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0 1px 0;
}

input, textarea {
	width: 100%;
	border: 1px solid $gray;
	padding: $pad-half 0.65rem;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button {
	padding: $pad-half;
	background: $gray-dark;
	border: 1px solid $gray;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
	}
	
	input[type=submit], button, .btn {
		font-size: $font-size-small-2;
		padding: 0.65rem 1.3rem;
		background: $gray-dark;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;

		&:hover, &:focus {
			background: $gray;
			color: $white;
		}
	}
}

/* Validation */
.has-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}


/*------------------------------------*\
    $INLINE FORMS
\*------------------------------------*/

.inline{
	background: transparent;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	display: inline-block;
	width: 10em;
	padding-bottom: .3em;
	@media screen and (min-width: $bp-small-3) {
		width: 15em;
	}
}

select.inline{
	-webkit-appearance:none;
	@include border-radius(0);
	color: lighten($gray-med, 20);
	border-bottom-color: $black;
	padding-left: .5em;


	&.filled{
		color: $black;
	}
}
.para-form{
	
	margin: auto auto 2.5em;

	@media screen and (min-width: $bp-small-3) {
		width: 78%;
	}
	p{
		text-align: left;
		margin: 1.5em auto;
		line-height: 2.5em;
		margin-bottom: px-to-ems(72px, 18px);
	}

	textarea{
		border: 0;
		max-width: px-to-ems(475px, 18px);
		height: px-to-ems(256px, 18px);
		margin-bottom: px-to-ems(35px, 18px);
	}
	label{
		text-transform: uppercase;
		font-family: $font-sm-bold;
		color: $gray-med;
		@include readable-uppercase(18px);
	}
	
}
/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
.search-field {
	padding-right: 3em;
}
.inline-form .search-submit {
	background: none;
	padding: 0.78em 1em;
	border: 0;
	border-left: 1px solid $gray;
	color: $gray;
}
