/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha { 
	@include font-size(28px);
	line-height: px-to-ems(56,41);
	font-family: $font-alt;
	font-weight: normal;

	@media screen and (min-width: $bp-small-2) {
		@include font-size(41px);
	}

}

h2, .beta    { 
	@include font-size(24px);
	line-height: px-to-ems(31,24);
	font-family: $font-secondary;
	font-weight: normal;


	&.subheading{
		color: $gray-med;
	}

	strong{
		font-family: $font-alt;
		color: $tomato;
	}
}

h3, .gamma   { 
	@include font-size(31px);
	line-height: px-to-ems(31,31);
	text-transform: uppercase;
	font-family: $font-sm-headings;
	font-weight: normal;
	@include readable-uppercase(31px);
	margin-top: px-to-ems(67px, 31px);
	margin-bottom: px-to-ems(30px, 31px);
}

h4, .delta   {
	@include font-size(18px);
	line-height: px-to-ems(31,18);
	text-transform: uppercase;
	font-family: $font-sm-bold;
	font-weight: normal;
}
h3, h4{
	color: $black;
}
h5, .epsilon { 
	@include font-size(18px);
	line-height: px-to-ems(31,18);
	font-family: $font-sm-bold;
	color: $gray-med;
	font-weight: normal;

}

h6, .zeta    { 
	@include font-size(18px);
	line-height: px-to-ems(31,18);
	font-family: $font-sm-headings;
	color: $gray-med;
	font-weight: normal;
}

