body {
	background: image-url('body-bg.png') top left $bg;
	font: 112.5%/1.6666 $font;
	-webkit-text-size-adjust: 100%;
	color: $black;
}

.people p{
	font-family: $font-secondary;
	@include font-size(24px);
	line-height: px-to-ems(31px, 24px);
	color: rgba($black, .5);
}