/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}

iframe {
	margin-bottom: $space;
}

figure {
	margin-bottom: $space;
	width: 100%;
	max-width: 100%;
	img {
		margin-bottom: $space-half;
		width: 100%;
		max-width: 100%;
	}
}
figcaption {
	font-style: italic;

	small{
		font-style: normal;
		font-family: $font-sm-headings;
		float: right;
		@include font-size(12px);
		padding-bottom: $pad-half;
		border-bottom: 1px solid $gray;
		border-bottom-color: rgba($gray, .5);
		width: 20.8%;
		a{
			text-decoration: none;
			border-bottom: 1px solid $gray;
			border-bottom-color: rgba($gray, .5);
		}
	}
}