/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
@mixin font-size( $decimal-size, $keyword: null ) {
  @if $keyword{ font-size: $keyword; }
  @else { font-size: $decimal-size;}
  font-size: ($decimal-size / 16px) * 1rem;
}

@mixin readable-uppercase ($fs: 12px) {
  text-transform: uppercase;
  letter-spacing: px-to-ems(1px, $fs);
}

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $black;
  border-radius: $button-size/14; 
  transition: $transition;
}