<p class="intro">The intro text may be a <strong>lead-in</strong> to the passage of text, or it may just be used to create a visual distinction between the <strong>rest of the passage</strong> of text.</p>