<!-- Begin .header -->
<header class="header cf" role="banner" id="top">
	{{> atoms-logo }}

	{{> molecules-primary-nav }}
	<a id="toggle" href="#nav"><span><b class="is-vishidden">Menu</b></span></a>
</header>
<!-- End .header -->