<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="lc">
		{{> molecules-twitter-link }}
		<p class="copyright">All content &copy;2014 Seven Heads Design unless otherwise noted.</p>
	</div>
</footer>
<!-- End Footer -->