<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="lc">
		{{> molecules-twitter-link }}
		<div class="copyright">
			<p>All content &copy;2013-2014 Seven Heads Design unless otherwise noted.</p>
			<p>Site by <a href="http://kevinsharon.com/">Kevin</a>, <a href="http://timkadlec.com/">Tim</a>, <a href="http://kevinmhoffman.com/">Kevin</a>, and <a href="http://danielmall.com/">Dan</a>.</p>
		</div>
	</div>
</footer>
<!-- End Footer -->