<nav id="nav" class="nav">
	<ul>
		<li><a class="curPage" href="{{ url }}">About</a></li>
		<li><a href="{{ url }}">People &amp; Partners</a></li>
		<li><a href="{{ url }}">Stories</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
