//Article
.article{
	position: relative;
}
.article-header {
	max-width: px-to-ems(474,18);
	margin: auto;
	h1 {
		font-size: 2.5em;
		margin-bottom: px-to-ems(5px, 45px);
	}
	.byline{
		position: absolute;
		left: 0;
		width: px-to-ems(210px, 16px);
		border-bottom: 1px solid $gray;
		border-bottom-color: rgba($gray, .5);
		padding-bottom: px-to-ems(38px,16px);
	}
}
.entry-content{
	margin: 2.5em auto 8em;
	* {
		max-width: 474px;
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
	img{
		max-width: 100%;
		margin: 1.5em auto;
		display: block;
	}

	p{
		margin-bottom: px-to-ems(48px, 18px);
	}
	.alpha{
		margin-bottom: .5em;
	}
}

.byline {
	margin-bottom: $space-half;
	font-family: $font-sm-headings;
	color: $black;
	text-transform: uppercase;
	@include font-size(16px);
	@include readable-uppercase(10px);

	em{
		color: rgba($black, .5);
		text-transform: uppercase;
		@include font-size(10px);
		@include readable-uppercase(10px);
		font-family: $font;
		display: block;
		padding-bottom: $pad-and-half;
	}

	img{
		float: left;
		margin-right: 1em;
	}
}

//Social Share
.social-share {
	overflow: hidden;
	margin-bottom: $space;

	li {
		float: left;
		margin-right: $space-half;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: $pad-half;

		&:hover {
			background: $gray;
		}
	}
}