//Article
.article{
	position: relative;
}
.article-header {
	max-width: px-to-ems(474,18);
	margin: auto;
	h1 {
		font-size: 2.5em;
		margin-bottom: px-to-ems(5px, 45px);
	}
	.byline{
		margin-top: 2em;
		@media screen and (min-width: $bp-large-2) {
			position: absolute;
			left: 0;
			width: px-to-ems(210px, 16px);
			margin-top: 0;
		}
		
	}
	.more-by{
		border-top: 1px solid $gray;
		border-top-color: rgba($gray, .5);
		margin-top: px-to-ems(34px,10px);
		padding-top: px-to-ems(21px, 10px);
		line-height: .7em;
		&:hover{
			color: rgba($black, .8);
		}
		@media screen and (min-width: 18em) {
			background: inline-image('more-arrow.svg') 0 1.8em   no-repeat;
			padding-left: px-to-ems(32px, 10px);
			background-size: px-to-ems(18px, 10px);
		}
	}
}
.entry-content{
	margin: 2.5em auto 8em;
	* {
		max-width: 474px;
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
	img{
		max-width: 100%;
		margin: 1.5em auto;
		display: block;
	}

	p{
		margin-bottom: px-to-ems(48px, 18px);
	}
	.alpha{
		margin-bottom: .5em;
	}
	ul{
		margin-left: 0;
		list-style-type: disc;
		list-style-image: inline-image("bullet.svg");
	}
}

.byline {
	margin-bottom: $space-half;
	font-family: $font-sm-headings;
	color: $black;
	text-transform: uppercase;
	@include font-size(16px);
	@include readable-uppercase(10px);
	line-height: 1.5em;
	em, .more-by{
		color: rgba($black, .5);
		text-transform: uppercase;
		@include font-size(10px);
		@include readable-uppercase(10px);
		font-family: $font;
		display: block;
		padding-bottom: $pad-and-half;
		line-height: 1em;
		font-style: italic;
	}

	img{
		float: left;
		margin-right: 1em;
	}
}

//Social Share
.social-share {
	overflow: hidden;
	margin-bottom: $space;

	li {
		float: left;
		margin-right: $space-half;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: $pad-half;

		&:hover {
			background: $gray;
		}
	}
}