/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	line-height: 1.2;
	@include font-size(12px);
	text-transform: uppercase;
	@include readable-uppercase(12px);
	text-align: center;
	
	&:before{
		content: " ";
		display: block;
		height: 1px;
		background: $gray-light-2;
		width: 50%;
		max-width: 17.416666667em;
		margin: 2em auto 1em;
	}

	.copyright{
		color: darken($gray-light-2, 20);
		margin-top: 10em;
	}

}

//Footer Nav
.nav-footer {
	margin: (-$pad) (-$pad) $space;

	li {
		border-bottom: 1px solid $gray-dark;

		@media all and (min-width: $bp-med) {
			border: 0;
			float: left;
		}
	}

	a {
		display: block;
		padding: $pad;
	}
}
