.header {
	padding: 1.5em px-to-ems(24px, 18px) 0;
	@extend .lc;
	margin-bottom: px-to-ems(39px);
	position: relative;
	@media all and (min-width: $bp-small-3) {
			text-align: center;
			margin-bottom: px-to-ems(52px);

	}
}

.logo {
	max-width: 5.6875em;
	margin: 0.4em auto 0;
	width: 25%;

	@media screen and (min-width: $bp-med) {
		margin-bottom: 1.5em;
	}
}

.js #toggle{
	position: absolute;
	right: 0;
	top: .8em;
	display: inline-block;
	padding: $button-size/2 $button-size/4;
	@include transition(.3s);
	cursor: pointer;
	user-select: none;
	border-radius: $button-size/7;

	@media all and (min-width: $bp-small-3) {
		display: none;
	}

	&:active {
		@include transition(0);
		background: rgba(0,0,0,.1);
	}

	span{
		//create middle line
		@include line;
		position: relative; 

		/*create the upper and lower lines as pseudo-elements of the middle line*/
		&:before, &:after {
			@include line;
			position: absolute;
			left:0;
			content: '';
			@include transform-origin($button-size/14 center);
		}
		&:before { top: $button-size/4; }
		&:after { top: -$button-size/4; }
	}
	&.close span{
		/*hide the middle line*/
		background: transparent;

		/*overlay the lines by setting both their top values to 0*/
		&:before, &:after{
			@include transform-origin(50% 50%);
			top:0;
			width: $button-size;
		}

		// rotate the lines to form the x shape
		&:before{
			@include transform(rotate3d(0,0,1,45deg)); 
		}
		&:after{
			@include transform(rotate3d(0,0,1,-45deg)); 
		}
	}
}
.search-form {
	overflow: hidden;
	max-height: 0;

	@media all and (min-width: $bp-med) {
		float: right;
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
}