/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	padding: $pad-half $pad-half $pad-double;
	overflow: hidden;
	@extend .lc;
	@extend .cf;
	clear: both;

	.home &{
		width: 100%;
		max-width: 100%;
		padding: 0;
	}

	.beta{
		max-width: 32em;

	}
	.align-center{
		margin-left: auto;
		margin-right: auto;
	}
}

