/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	overflow: hidden;
	@extend .lc;
	@extend .cf;
	clear: both;
	padding: $pad-half px-to-ems(24px, 18px) $pad-double;

	.align-center{
		text-align: left;
	}
	@media all and (min-width: $bp-small-3) {
		padding: $pad-half $pad-half $pad-double;
		.align-center{
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

	}
	.home &{
		width: 100%;
		max-width: 100%;
		padding: 0;

		@media screen and (min-width: 17em) and (max-width: $bp-small-3) {
			.lc{
				padding: $pad-half px-to-ems(24px, 18px);
			}
		}
	}

	.beta{
		max-width: 32em;

	}

}

