/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: both;
	overflow: hidden;

	font-family: $font-sm-bold;
	@include font-size(16px);
	@include readable-uppercase(16px);

	.js &{
		position: absolute;
		right: .5em;
		top: 4.5em;
		width: 25%;
		max-height: 0;
	}
	

	a{
		line-height: 1.2em;
		display: block;
		padding: $pad-quarter 0;
		text-align: right;
		&.curPage{
			color: $gray-med;
		}
	}

	&.active {
		max-height: 40em;

	}

	@media all and (min-width: $bp-small-3) {
		.js &{
			max-height: none;
			position: static;
			width: 100%;
		}
		
		
		li {
			display: inline-block;
		}

		a {
			border: 0;
			line-height: 1.5em;
			text-align: left;
			padding: $pad-quarter $pad-half;
		}
		
	}
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}