/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;
	font-family: $font-sm-bold;
	@include font-size(16px);
	@include readable-uppercase(16px);
	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $gray-light-2;

		&.curPage{
			color: $gray-med;
		}
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;

		li {
			display: inline-block;
		}

		a {
			border: 0;
		}
		
	}
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}