//Intro text
p.intro{
	font-size: $font-size-large;
	font-family: $font-secondary;
	line-height: 1.3333em;
	text-align: center;
	color: $black;
	margin-bottom: .904761905em;
	strong{
		font-family: $font-alt;
		color: $tomato;
	}
}

//Pullquote
.pullquote-right {
	&:after{
		position: absolute;
		right: 0%;
		width: 23.2%;
		color: $tomato;
		content: attr(data-pullquote);
	}
}

//Caption 
.caption {
	font-style: italic;
}

//Passages of text
.text {
	a {
		text-decoration: underline;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;

		ol {
			margin-bottom: 0;
		}
	}
}

.twitter{
	@include readable-uppercase(18px);
	@include font-size(18px);
	font-family: $font-sm-bold;
	color: $gray-med;
	text-align: center;
	
	&:after{
		content: " ";
		background: inline-image("twitter.svg");
		height: px-to-ems(32px, 18px);
		width: px-to-ems(32px, 18px);
		display: block;
		margin: 1em auto 0;
		background-size: cover;
	}
}
