<div class="block block-hero">
	<div class="lc">
		<a href="{{ url }}" class="inner">
			{{> atoms-hero-image }}
			<div class="b-text">
				<p class="intro">“You’ve never done that before? You should probably do that then.”</p>
				<p>A brief tale in which Kevin learns that what you tell your friends and colleagues matters, even in the most offhand conversations. <a class="inception" href="#">Read it.</a></p>
			</div>
		</a>
	</a>
</div>