<div class="block block-people">
	<header class="person">
	    <h3>Brad Frost</h3>
		<a href="#">@brad_frost</a>
	</header>
	<div class="expertise">
		<h3>Expertise</h3>
		<ul class="skills">
			<li>Front End Development</li>
			<li>Usability Studies</li>
			<li>Workshops</li>
		</ul>
	</div>
    {{> atoms-people }} 
</div>