<div class="block block-people">
	<header class="person">
	    <h3>{{people-name}}</h3>
		<a href="#">{{people-twitter}}</a>
	</header>
	<div class="expertise">
		<h3>Expertise</h3>
		<ul class="skills">
			{{#people-skills}}
			<li>{{skill}}</li>
			{{/people-skills}}
		</ul>
	</div>
    {{> atoms-people }} 
</div>