<div class="block block-hero block-hero-temporary">
	<div class="lc">
		<div class="temporary-wrapper">
			<div class="inner-block">
				<p class="alpha align-center">Make <span>&#183;</span> Collaborate <span>&#183;</span> Celebrate</p>
				<a class="btn btn-transparent" href="#">About</a>
			</div>
		</div>
	</a>
</div>