<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #040707;"></span>
		<span class="sg-label">#040707</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #433f3e;"></span>
		<span class="sg-label">#433f3e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #747874;"></span>
		<span class="sg-label">#747874</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c9332b;"></span>
		<span class="sg-label">#c9332b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f7ea0c;"></span>
		<span class="sg-label">#f7ea0c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e2e7e1;"></span>
		<span class="sg-label">#e2e7e1</span>
	</li>
</ul>