/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	background: inline-image("button-bg.png") bottom left repeat-x $gray;
	color: $white;
	line-height: 1;
	padding: $pad-half $pad $pad-three-quarter;
	border: 0;
	text-align: center;
	font-family: $font-alt;
	width: 100%;
	max-width: px-to-ems(175px, 18px);

	&:hover, &:focus {
		background-color: darken($gray, 10);
		color: $white;
	}

	&.disabled {
		background-color: $gray-light-2;
		color: $gray;
	}
}

.btn-med {
	padding: $pad;
	background-color: $gray-med;
	@include font-size(21px);
	max-width: px-to-ems(275px, 21px);

	&:hover, &:focus {
		background-color: darken($gray-med, 10);
	}
}
.btn-transparent{
	background: transparent;
	border: 1px solid $white;
	padding-bottom: $pad-half;
	&:hover, &:focus {
		background-color: darken($tomato, 10);
		color: $white;
	}
}
.btn-large {
	padding: $pad;
	background-color: $tomato;
	@include font-size(24px);
	font-weight: normal;
	max-width: px-to-ems(475px, 24px);

	&:hover, &:focus {
		background-color: darken($tomato, 10);
	}

}


.text-btn {
	font-style: italic;
}