/*------------------------------------*\
    $NODE SECTIONS (Thank You Page)
\*------------------------------------*/
.nodes-section {
	margin: 3.8125em 0;
	@media (min-width: 636px) {
		margin-bottom: 6em;
	}
	padding-top: 3.75em;
	padding-bottom: 3.75em;
	position: relative;
	.background-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 3.75em;
		left: 0;
		max-width: 811px;
		margin-left: auto;
		margin-right: auto;
		img {
			height: calc(100% - 3.75em);
			@media (max-width: 635px) {
				// width: calc(100% + (1.33333em*2));
				position: relative;
				// object-fit: cover;

				width: 750px;
				left: calc((-750px/2) + 1.33333em);
				height: auto;
			}
			@media (min-width: 636px) {
				width: 100%;
				object-fit: contain;
			}
			max-width: none;

			@media (max-width: 635px) {
				&.wide-only {
					display: none;
				}
			}
			@media (min-width: 636px) {
				&.narrow-only {
					display: none;
				}
			}
		}
	}
	&:nth-of-type(2) {
		@media (min-width: 636px) {
			margin-bottom: 7em;
		}
		.background-image {
			margin-top: -8em;
			@media (min-width: 636px) {
				margin-top: -12em;
			}
		}
	}
	&:nth-of-type(3) {
		.background-image {
			margin-top: -18em;
			@media (min-width: 636px) {
				margin-top: -24em;
			}
		}
	}
	h2 {
		margin-bottom: 1em*(2.5/16);
		text-align: center;
	}
}

.nodes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	// justify-content: space-between;
	@media (max-width: 635px) {
		max-width: 1em*(390/16);
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: 636px) {
  	justify-content: center;
	}

  li {
    display: flex;
    margin-bottom: 1em;
		position: relative;


		@media (max-width: 635px) {
			width: calc(50% - ((1em*(20.5/16))*2));
			margin: (1em*(20.5/16));

			&:nth-child(even) {
				margin-top: calc(50% - ((1em*(22.75/16))*2));
				margin-bottom: -50%;
				.block {
					&:after {
						top: 1em*(5.5/16);
					}
				}
			}

			&:nth-child(odd):not(:last-child) {
				&:after {
					content: "";
					display: block;
					background-color: #C9332B;
					height: 1em*(4/16);
					width: ((1em*(20.5/16))*2);
					position: absolute;
					bottom: 1em*(10.5/16);
				}
			}
			&:nth-child(4n), &:nth-child(4n+1):not(:first-child) {
				&:before {
					content: "";
					display: block;
					background-color: #C9332B;
					width: 1em*(4/16);
					height: ((1em*(20.5/16))*2);
					position: absolute;
					top: ((-1em*(20.5/16))*2);
					right: 1em*(10.5/16);
				}
			}
			&:nth-child(4n+2):nth-last-child(2) {
				svg.narrow-only {
					position: absolute;
					display: block;
					right: 1em*(8/16);
					top: 1em*(8/16);
					width: calc(100% + ((1em*(21/16))*2));
					height: calc(100% - ((1em*(18/16))*2));
				}
			}
		}


		@media (min-width: 636px) {
    	width: 100%*(180/1032);
    	margin: 100%*(39/1032);
		}
    .block {
      width: 100%;
      height: 0;
      padding-top: 100%;
      background-color: rgba(white, 1);
      position: relative;
      z-index: 2;
			img {
				opacity: 1;
			}
      &:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 100%;
        z-index: 3;
        box-sizing: border-box;
				pointer-events: none;
				background-color: white;

				border: 1em*(3.5/16) solid #C9332B;
				@media (max-width: 635px) {
					right: 1em*(5.5/16);
	        bottom: 1em*(5.5/16);
	        height: 1em*(14/16);
	        width: 1em*(14/16);
				}
				@media (min-width: 636px) {
					@media (max-width: 899px) {
						transform: scale(0.8);
					}
					@media (max-width: 759px) {
						transform: scale(0.7);
					}
					right: 1em*(5.5/16);
	        bottom: 1em*(5.5/16);
	        height: 1em*(21/16);
	        width: 1em*(20.5/16);
					border-width: 1em*(5/16);
				}
      }
			a, .frame {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				span {
					font-family: "ProximaNovaCond-Bold", Verdana, Arial, sans-serif;
					position: absolute;
					font-size: calc(0.7125em + 0.5vw);
					@media (min-width: 1440px) {
						font-size: 1.125em;
					}
					width: 100%;
					bottom: calc(0.5em + 8.5%);
					left: 0;
					color: white;
					text-align: center;
					line-height: 1;
					text-transform: uppercase;
				}
			}
    }
    svg {
			display: none;
			@media (min-width: 636px) {
				display: block;
	      position: absolute;
	      height: calc(100% - (1em*(30/16)));
	      width: 100%*(258/180);
	      left: calc(100% - (1em*(15/16)));
	      top: 1em*(16/16);
	      z-index: 1;
			}

			&.narrow-only {
				@media (min-width: 636px) {
					display: none;
				}
			}
    }
  }

	@media (min-width: 636px) {
		&--3-4-rows {
			li {
				&:nth-child(7n) {
					svg {
						display: none;
					}
				}
				&:nth-child(7n-6) {
					&:not(:nth-last-child(2)) {
						margin-left: 100%*(78/1032);
					}
				}

				&:nth-child(7n-4) {
					margin-right: 100%*(78/1032);
					svg {
						top: calc(100% - (1em*(15/16)));
						width: (100%*(258/180))/2;
						height: 100%*(258/180);
					}
				}
				&:nth-child(7n-3) {
					svg.row-jump {
						height: calc((100%*(438/180)) - (1em*(30/16)));
					}
					&:not(:nth-last-child(6)) {
						svg.row-jump {
							width: (100%*(258/180))/2;
						}
					}
				}
				&:nth-child(7n-1), &:nth-child(7n-3), &:nth-child(7n-5) {
		      .block {
		        &:after {
		          bottom: auto;
		          top: 1em*(5.5/16);
		        }
		      }
		    }
			}
		}
		&--4-3-rows {
			li {
				&:nth-child(7n-3) {
					svg {
						display: none;
					}
				}
				&:nth-child(7n-2) {
					&:not(:nth-last-child(2)) {
						margin-left: 100%*(78/1032);
					}
				}
				&:nth-child(7n) {
					margin-right: 100%*(78/1032);
					svg {
						height: calc((100%*(78/180)) + (1em*(31/16)));
						top: calc(-100%*(78/180) - (1em*(15/16)));
						width: (100%*(258/180))/2;
					}
				}
				&:nth-child(7n-2) {
					svg.row-jump {
						height: 100%*(258/180);
						width: (100%*(258/180))/2;
						left: calc(100% - ((100%*(258/180))/2) - (1em*(15.5/16)));
					}
				}
				&:nth-child(7n), &:nth-child(7n-2), &:nth-child(7n-4), &:nth-child(7n-6) {
		      .block {
		        &:after {
		          bottom: auto;
		          top: 1em*(5.5/16);
		        }
		      }
		    }
			}
		}
	}

}
